body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #15203a;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    gap: 12px;
}

#header {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    padding: 16px;
    background-color: #0d1b2a;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.home {
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.homeLeft,
.homeRight {
    flex-shrink: 1;
}

.homeLeft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
}

.logo {
    color: #fca311;
    font-weight: 900;
}

.homeTitle {
    font-size: 72px;
}

.homeTitleName {
    color: #fca311;
}

.homeDesc {
    font-size: 24px;
}

.header {
    padding: 32px 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.innerHeader {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 24px;
}



ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.profileImage {
    border: medium solid #fca311;
    border-radius: 125px;
    height: 20vw;
    width: auto;
}

.projects,
.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
}

.projects {
    flex-basis: 600px;
}

.skills {
    flex-basis: 300px;
    background-color: #14213d;
}

.innerProjects,
.innerSkills {
    width: 70vw;
    height: auto;
}

.innerSkills {
    border: medium solid #e5e5e5;
    border-radius: 16px;
    padding: 12px;
    padding-bottom: 24px;
}

.projectsTitle,
.skillsTitle {
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}

.projectsList {
    display: flex;
    justify-content: center;
    gap: 52px;
    max-width: 70vw;
    flex-wrap: wrap;
}

.info {
    color: #14213d;
    background-color: #e5e5e5;

    padding: 10px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    flex: 1;

    flex: 0 0 350px;

    box-shadow: 10px 10px gray;
}

.info:hover {
    transform: translate(10px, 10px);
    box-shadow: none;
}

.infoTop {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.infoTitle {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

.infoLinks {
    display: flex;
    align-items: end;
    gap: 20px;
    align-self: center;
}

.infoLinks .fa {
    font-size: 24px;
}

.infoImage {
    max-width: 200px;
    height: auto;
    align-self: center;
}

a {
    text-decoration: none;
}

.infoLinks a {
    color: #14213d;
    font-weight: 900;
}

.icon .fa {
    color: #e5e5e5;
    padding: 12px;
    font-size: 24px;
}

.fa:hover {
    opacity: 0.7;
}

.iconContainer {
    display: flex;
}

.skillsList {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skillsList img {
    width: 100px;
    height: auto;
}